@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: burlywood;
    font-size: 150%;
}

h2 {
    color: brown;
}